@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

:root {
    --padding-container: 100px 0;
    --color-title: #001A49
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../imagenes/planner.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_logo {
    display: block;
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap : 2em;
}

.nav_items {
    list-style: none;
    font-size: 18px
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_links{
    color: white;
    text-decoration: none;
}

.nav_close {
    display: var(--show, none);
}

/* Hero container */

.hero_container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
    margin-bottom: 0;
}

.hero_paragraph{
    margin-bottom: 20px;
    font-size: 1.5rem;

}

.cta {
    display:inline-block;
    background: #2091F9;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta:hover {
    transform: scale(1.1);
    transition: 0.1s;
    
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 3rem;
    margin-bottom: 25px;
}


.about_main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto -20px;
    gap: 16em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    justify-content: center;
    padding-bottom: 30px;
}

.about_icon{
    background-image: url("../imagenes/canciones.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) blur(0.6px);
    border-radius: 10px;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon2{
    background-image: url("../imagenes/gestion.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) blur(0.6px);
    border-radius: 10px;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 300px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon:hover{
    filter: grayscale(0%) blur(0px);
    transform: scale(1.1);  
    transition: 0.1s;
}

.about_icon2:hover{
    filter: grayscale(0%) blur(0px);
    transform: scale(1.1);  
    transition: 0.1s;
}

.about_title {
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 2rem;
    margin: 20px;
}

.about_paragraph {
    display: block;
    visibility: visible;
    position: absolute;
    bottom: 0;
    right: 0;
    
    color: white;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: right;

    margin: 20px;
}

.about_main a {
    width: 300px; /* Ancho igual al de .about_icon */
    height: 600px; /* Alto igual al de .about_icon */
}

/* Media Querys */

@media (max-width: 800px) {

    .nav_title {
        margin-left: -10px;
    }

    .nav_logo {
        width: 13rem;
        height: 13rem;
    }

    .nav_menu {
        display: block;
    }
    .nav_link-menu {
        position: fixed;
        top: 0; 
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
    }

    .nav_link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_close {
        position: absolute; 
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .nav_link-menu[data-visible="true"] {
        transform: translateX(0);
    }
    .nav_close {
        display: block;
    }
    .hero_title {
        font-size: 2.5rem;
    }
    .hero_paragraph {
        font-size: 1rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
    .about_main {
        grid-template-columns: 1fr;
    }

    .about {
        text-align: center;
    }

    .about_main {
        gap: 4em;
        padding-top: 30px;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .about_icon {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about_icon2 {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .about_icon:focus{
        filter: grayscale(0%) blur(0px);
        transform: scale(1.1);  
        transition: 0.1s;
    }

    .about_icon2:focus{
        filter: grayscale(0%) blur(0px);
        transform: scale(1.1);  
        transition: 0.1s;
    }

    

    .about_title {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        font-size: 1.6rem;
        margin: 20px;
    }

    .about_paragraph {
        position: absolute;
        bottom: 0;
        right: 0;
        
        color: white;
        font-size: 1.3rem;
        line-height: 1.4;
        text-align: right;

} 

.nav_img {
    filter: invert(100%);
    width: 60px;
    height: 46px;
}

.nav_close {
    filter: invert(100%);
    width: 60px;
    height: 46px;
}