@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}


:root {
    --padding-container: 100px 0;
    --color-title: #001A49
}

a {
    outline: none; 
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

header {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Hero */

.hero{
    width: 100%;
    height: 32vh;
    min-height: 300px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    width: 66%;
}

.nav_logo {
    display: block;
    width: 12rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav_link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap : 2em;
}

.nav_items {
    list-style: none;
    font-size: 18px;
}

.nav_links:hover {
    color: #26B3EC;
}
.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_links{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_close {
    display: var(--show, none);
}

/* Hero container */

.hero_container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 60px;
    text-align: center;
}

.hero_title{
    font-size: 3.4rem;
    margin: 10px;
}

.hero_paragraph {
    margin: 0;
   font-size: 1.4rem;
}

/* Tabla */

* main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body main{

  display: flex;
  justify-content: center;
  align-items: center;
}


#dataTable_filter input {
  width: 68%;
  height: 34px;
  font-size: 15px;
  text-align: center;
  padding: 0 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  margin: 10px;
}

table.dataTable{
  table-layout: fixed;
  padding:20px;
}


table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px;
  height: 100px;
  width: 100px;
}

#dataTable.styled-table, 
#dataTable.styled-table th, 
#dataTable.styled-table td {
  border-collapse: collapse;
  text-align: center;
  align-items: center;
  font-size: 12px;

}


table.dataTable thead th {
  background-color: #A0E9FF;
  white-space: wrap;
  padding: 14px 10px;
}

@media (min-width: 768px) {
  #dataTable.styled-table th:first-child {
    border-top-left-radius: 10px;
  }
  
  #dataTable.styled-table th:last-child {
    border-top-right-radius: 10px;
  }
}

#dataTable.styled-table tbody td:first-child {
  white-space: nowrap;
  padding: 6px;
}


#dataTable.styled-table tr:nth-child(even){
  background-color: #eceded;
}

@media (min-width: 768px) {
  tr:hover td {
    background-color: #CDF5FD;
    color: black;
  }
}

.table {
  width: 100%;
  

  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
}

.jueves {
  background-color: #DBE2EF;
  padding: 6px;
  border-radius: 8px;
  font-weight: 550;
  color: rgb(99, 98, 98);
}

.sabado {
  background-color: #3F72AF;
  padding: 6px;
  border-radius: 8px;
  color: white;
}

.domingo {
  background-color: #112D4E;
  padding: 6px;
  border-radius: 8px;
  color: white;
}

#cuadrante {
  max-height: 89%;
  margin: 0;
  overflow:auto;
}


  .button_container {
    display: block;
    position: relative;
    width: 100%;
    height: 34px;
    background-color: #E3FDFD
  }

  .button_right {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    border-radius: 4px;
    transform: scale(1);
    background: none;
    transition: all 0.3s;
  }

  .button_left {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    border-radius: 0 4px 0 0;
    transform: rotate(180deg);
    background: none;
    transition: all 0.3s;
  }

  .button_right:hover{
    cursor: pointer;
    transform: scale(1.2); /* Mantén la rotación y agrega la escala */
  }

  .button_left:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.2); /* Mantén la rotación y agrega la escala */
  }

  @media (max-width: 800px) {
    .no-scroll {
      overflow: hidden;
  }


  .nav_logo {
    width: 11rem;
    height: 5rem;
    margin: 0 10px;
  }

  .nav_menu {
      display: block;
  }
  
  .nav_link-menu {
      position: absolute;
      top: -24px; 
      right: -8px;
      bottom: 0;
      height: 100vh;
      background-color: #1c1c1c;
      padding: 6rem 3rem;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 2rem;
      font-family: sans-serif;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
      transition: .3s;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav_link-menu a {
      font-size: 1.4rem;
  }
  

  .nav_link--show {
      --show: block;
      opacity: 1;
      pointer-events: unset;
  }

  .nav_close {
      display: block;
      position: absolute; 
      top: 30px;
      right: 26px;
      scale: .7;
      cursor: pointer;
  }

  .nav_link-menu[data-visible="true"] {
      transform: translateX(0);
  }
  
    .hero_title {
      font-size: 1.8rem;
      padding: 0;
    }
  
    .hero_paragraph {
      font-size: 1.3rem;
      padding: 0;
    }
  
    .week_icon {
      width: 250px;
      height: 250px;
    }
  
    .week_title {
      font-size: 1.5rem;
    }
  
    .week_paragraph {
      font-size: 1.3rem;
    }

    #dataTable_filter input {
      width: 60%;
      height: 40px;
      font-size: 15px;
      text-align: center;
      padding: 0 20px;
      border-radius: 4px;
      border: 1px solid #ccc;
      outline: none;
      margin: 10px;
    }

    #dataTable.styled-table {
        display: grid;
        grid-template-columns: auto 1fr; /* Dividir la tabla en dos columnas, una para el encabezado y otra para el cuerpo */
        padding: 0;
        margin: 0 0;
        width: 100%;
    }

    #dataTable.styled-table thead th {
        grid-column: 1; /* Colocar el encabezado en la primera columna */
        position: sticky;
        padding: 2rem 0.4rem;
        white-space: nowrap;
    }

    #dataTable.styled-table thead th:first-child {
      border-top-right-radius: 4px;
    }

    #dataTable.styled-table tbody {
      display: grid;
      grid-auto-flow: column;
      overflow-x: auto;
      scroll-snap-type: x mandatory; /* Activa el scroll-snap en el eje X */
      scroll-snap-stop: always;
      scroll-behavior: smooth;
      background-color: #e4e4e463;
    }

    #dataTable.styled-table tbody tr {
      scroll-snap-align: start; /* Cada fila se alinea al inicio del contenedor en el scroll */
    }

    #dataTable.styled-table td,
    #dataTable.styled-table th {
        display: block; /* Convertir td y th en elementos de bloque */
        height: 10px;
        display: flex;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        border: none;
        font-size: 13px;
        width: auto;
    }

    #dataTable.styled-table tr:nth-last-of-type(odd) {
        background: transparent;
    }

    .day-name {
      background-color: rgba(102, 228, 245, 0.216);
      padding: 26px;
      border-radius: 0;
      font-weight: 500;
      box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    .button_container {
      display: block;
      position: relative;
      width: 100%;
      height: 34px;
      background-color: hwb(202 7% 7% / 0);
      padding-bottom: 10px;
    }

    .button_right {
      width: 44px;
      height: 44px;
      position: fixed;
      bottom: 10px; /* Ajusta la distancia desde la parte inferior según sea necesario */
      right: 10px; /* Ajusta la distancia desde la derecha según sea necesario */
      border: none;
      border-radius: 4px;
      background-color: rgb(110, 213, 238);
      box-shadow: 0px 2px 4px #1617178c; /* Sombra suave */
    }
    
    
    .button_left {
      width: 44px;
      height: 44px;
      position: fixed;
      bottom: 10px;
      left: 10px; 
      border: none;
      border-radius: 4px;
      background-color: rgb(110, 213, 238);
      box-shadow: 0px 2px 4px #1617178c;
    }
}

.nav_img {
    filter: invert(100%);
    width: 60px;
    height: 46px;
}

.nav_close {
    filter: invert(100%);
    width: 60px;
    height: 46px;
}